.Container__aboutFabizi {
  padding: 96px 142px 96px 142px;
}
.Container--aboutFabizi-content {
  padding: 71px 64px 71px 64px;
  align-items: center;
}

.btn {
  color: white;
  width: 100%;
}

@media screen and (max-width: 1036px) {
  .Container--aboutFabizi-content {
    padding: 16px;
  }

  .Container__aboutFabizi {
    padding: 64px 32px 64px 32px;
  }
}

@media screen and (max-width: 480px) {
  .Container--aboutFabizi-content {
    padding: 16px;
  }

  .Container__aboutFabizi {
    padding: 48px 16px 48px 16px;
  }
}
