.workspace {
    padding-top: 96px;
    padding-bottom: 96px;
  
    p {
      font-size: 14px;
    }
    .workspace-header__firstword {
      color: #0f62fe;
    }
    // @media screen and (max-width: 1584px) {
  
    // }
  
    // @media screen and (max-width: 672px) {
    //   .cds--stack-vertical,
    //   .cds--stack-vertical {
    //     display: flex;
    //     flex-direction: column-reverse;
    //   }
    //   .workspace-content {
    //     order: 2;
    //     display: flex;
    //     flex-direction: row;
    //     align-self: flex-start;
    //   }
    //   .workspace-main__image {
    //     display: flex;
    //     justify-content: flex-end;
    //     order: 1;
    //   }
    //   .workspace-barista__image {
    //     order: 4;
    //   }
    //   .workspace-colleague__image {
    //     order: 3;
    //   }
    //   // // .direction-row-reverse {
    //   // //   flex-direction: column-reverse;
    //   // // }
    //   .workspace-header {
    //     font-size: 32px;
    //   }
    // }
  
    // @media screen and (max-width: 320px) {
    //   padding-top: 48px;
    //   padding-bottom: 48px;
  
    //   .workspace-header {
    //     font-size: 24px;
    //   }
    //   .cds--row {
    //     flex-direction: column-reverse;
    //   }
    // }
  }
  