.workspace {
  @media only screen and (min-width: 1260px) {
    .padding {
      padding: 96px 10px 96px 20px;
    }
    .flex-column {
      display: flex;
      flex-direction: column !important;
      gap: 1rem !important;
    }
  }
  @media only screen and (max-width: 1060px) {
    .padding {
      padding-top: 64px;
      padding-bottom: 64px;
    }
    .cds--grid {
      padding-left: 0;
      padding-right: 0;
    }

    .flex-item:nth-of-type(1) {
      order: 2;
    }
    .flex-item:nth-of-type(2) {
      order: 3;
    }
    .flex-item:nth-of-type(3) {
      order: 1;
    }

    .flex-row {
      display: flex !important;
      flex-direction: row !important;
    }

    .order-img:nth-of-type(1) {
      order: 2;
    }
    .order-img:nth-of-type(1) {
      order: 1;
    }
  }
  @media only screen and (min-width: 671px) {
    .colleage__image,
    .barista__image {
      display: none;
    }
  }
}
