.fabizi__about {
  padding-top: 96px;
}
.about {
  padding-top: 64px;
  padding-bottom: 64px;
  align-items: center;
  @media screen and (max-width: 1036px) {
    padding-left: 23px;
  }
}
.about-btn {
  color: white;
}
