.cds--btn {
  color: #6f6f6f;
}

.c4p--card__footer {
  justify-content: space-between;
}

.c4p--card__icon {
  padding: 16px;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .Header__heading {
    font-size: 32px;
  }
}

@media screen and (max-width: 480px) {
  .Header__heading {
    font-size: 24px;
  }
}
