.Header {
  .header-background {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
  }
  .header-picture {
    height: 891px;
    padding-top: 350px;
    color: white;
    background-color: rgba(22, 22, 22, 0.8) !important;
  }

  .header--heading__boldword {
    color: #0f62fe;
  }

  .header-picture p {
    font-size: 14px;
    text-align: justify;
  }

  .Header__btn {
    color: white;
  }

  @media screen and (max-width: 672px) {
    .header-picture {
      padding-top: 111px;
      padding-bottom: 112px;
      color: white;
      background-color: rgba(22, 22, 22, 0.8) !important;
    }
  }
  @media screen and (max-width: 320px) {
    .header--heading {
      font-size: 24px;
    }
    .header-picture {
      padding-top: 160px;
      padding-bottom: 160px;
      color: white;
      background-color: rgba(22, 22, 22, 0.8) !important;
    }
  }
}
