.Header {
  .Header--background-position-image {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
  }
  .Header--background-style-image {
    height: 891px;
    padding-top: 350px;
    color: white;
    background-color: rgba(22, 22, 22, 0.8) !important;
  }

  .Header__heading--boldFabiziWord {
    color: #0f62fe;
    margin: 0 10px;
  }

  .Header--background-style-image p {
    font-size: 14px;
    text-align: justify;
  }

  .Header__btn {
    color: white;
  }

  @media screen and (min-width: 481px) and (max-width: 1024px) {
    .Header__heading {
      font-size: 24px;
    }
    .Header--background-style-image {
      padding: 111px 32px 112px 32px;
      height: 378px;
      color: white;
      background-color: rgba(22, 22, 22, 0.8) !important;
    }
  }
  @media screen and (max-width: 480px) {
    .Header__heading {
      font-size: 16px;
    }
    .Header--background-style-image {
      height: 569px;
      padding: 160px 32px;
      padding-top: 160px;
      padding-bottom: 160px;
      color: white;
      background-color: rgba(22, 22, 22, 0.8) !important;
    }
  }
}
