.Footer {
  background-color: #161616;
  padding: 48px 136px 96px 136px;
  color: white;
  .cds--grid {
    padding: 0;
  }
  @media screen and (min-width: 1042px) {
    .Dropdown--show {
      display: none;
    }
  }
}
@media screen and (max-width: 1042px) {
  .Footer {
    padding: 48px 32px 48px 32px;
  }
  .Dropdown--hide {
    display: none;
  }
}

@media screen and (min-width: 481px) {
  .Content__line {
    display: none;
  }
}
