.footerPage {
  background-color: #161616;
  color: white;
}
@media screen and (min-width: 1042px) {
  .show {
    display: none;
  }
}

@media screen and (max-width: 1042px) {
  .hide {
    display: none;
  }
}
