@import "@carbon/react";
@import "@carbon/styles";
@import "@carbon/ibm-products/scss/index";

.cds--btn {
  color: #6f6f6f;
  width: 100%;
}

.cds--btn__icon {
  color: blue;
}
.button--career-card :hover {
  background-color: #0f62fe;
}
