@import "@carbon/react";
@import "@carbon/styles";
@import "@carbon/ibm-products/scss/index";

.cds--btn {
  width: 100%;
  color: #6f6f6f;
}
.cds--btn__icon {
  color: blue;
}

.c4p--card__footer {
  display: inline;
}
