@import "@carbon/react";
@import "@carbon/styles";
@import "@carbon/ibm-products/scss/index";

.c4p--card__icon {
  color: blue;
}

.c4p--card:hover {
  background-color: #0f62fe;
  transition: 0.1s;
}

p {
  font-size: 14px;
  // text-align: justify;
}
